{% extends 'base1.html' %}
{% block content %}
{% load static %}
<a href = javascript:history.go(-1)><img src = "{%static 'img/back.png'%}" width="20px"></a>
<a href = "{% url 'home:sub'%}"><img src = "{%static 'img/home.png'%}" width="20px"></a>
<a href = ''><img src = "{%static 'img/refresh.png'%}" width="18px"></a>

<form action="" method=post>
    <table class=table style="margin-top: 40px;">
        <tr>
            <td>
                <label for="subject">subject</label>
            </td>
            <td>
                <select class='form-control' name = subject>
                    {% for subject in subjects %}
                    <option value = "{{subject.sbj_code}}">{{ subject.sbj_name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="title">title</label>
            </td>
            <td>
                <input type=text name=title>
            </td>
        </tr>
    </table>
    <button class = "btn btn-info" type=submit>클래스 추가</button>
</form>
{% endblock %}